# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Esse arquivo armazena o JDK do projeto; O Gabriel não tem o JDK 1.8 então
# vamos ignorar esse arquivo para ele poder mudar o JDK do projeto sem
# estragar nada
/misc.xml